html, body {
  position: relative;
}

body {
  background-color: black;
}

.navbar-brand {
  font-weight: bold;
}

.figure {
  background-color: white;
  border-radius: 5px;
  margin: 0 auto;
}

.figure-caption {
  color: black;
  text-align: center;
  font-weight: bold;
}

.table {
  width: 95%;
  background-color: white;
  text-align: center;
}

div {
  .figure {
    margin-left: 1.8rem;
    margin-bottom: 1.8rem;
    margin-right: 1.8rem;
  }
}

.artist-header {
  width: 95%;
  background-color: rgba(255, 255, 255, 0.75);
  margin: 0 auto;
  margin-left: 1.8rem;
  margin-bottom: 2rem;
}

.artist-header {
  h1 {
    margin: auto;
    text-align: center;
  }
}

.container {
  margin-top: 25px;
}

.artist-figure {
  img {
    width: 30rem;
  }
}

@media (max-width: 600px){
  .table {
    margin-left: 2.2rem;
  }
  .artist-figure {
    img {
      width: 26rem;
    }
  }
  .col {
    .figure {
      margin-left: 4rem;
    }
  }
}
.figure {
  margin: 0 auto;
}
