body {
  background-color: black;
}

@media (min-width: 577px){
  .jumbotron > h4::after {
    content: 'A website with my all-time favorite artists, albums and tracks';
  }
}

@media (max-width: 576px){
    .jumbotron > h4::after{
      content: 'Fav artists, albums, tracks';
    }
}

.jumbotron{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  text-align: center;
}

.jumbotron > h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

.container-fluid{
  margin: 0 auto;
}
.navbar-brand {
  font-weight: bold;
}

.row {
  margin: 50px auto;
}

.card {
  margin-right: 50px;
  margin-bottom: 50px;
}

.card-text {
  text-align: center;
  font-weight: bold;
}

.col-12 {
margin: width / 2;
}
