
body {
  background: url("https://hdwallsource.com/img/2018/5/spongebob-bikini-bottom-wallpaper-63311-65364-hd-wallpapers.jpg");
  background-size: cover;
}
h1 {
  font-size: 50px;
}

h3 {
  font-size: 20px;
}

.jumbotron {
  background: rgba(255, 255, 255, 0.5);
}

.card {
  margin: 50px;
  background-color: rgba(255, 255, 255, 0.25);
}

.card-text {
  font-weight: bold;
  text-align: center;
}

.card-img-top {
  height: 200px;
}

.col-3 {
  height: auto;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 40px;
  padding: 25px;
}
